icon-ampersand { background-image: url('png/ampersand.png'); background-repeat: no-repeat; }

icon-aperture { background-image: url('png/aperture.png'); background-repeat: no-repeat; }

icon-aperture_alt { background-image: url('png/aperture_alt.png'); background-repeat: no-repeat; }

icon-arrow_down { background-image: url('png/arrow_down.png'); background-repeat: no-repeat; }

icon-arrow_down_alt1 { background-image: url('png/arrow_down_alt1.png'); background-repeat: no-repeat; }

icon-arrow_down_alt2 { background-image: url('png/arrow_down_alt2.png'); background-repeat: no-repeat; }

icon-arrow_left { background-image: url('png/arrow_left.png'); background-repeat: no-repeat; }

icon-arrow_left_alt1 { background-image: url('png/arrow_left_alt1.png'); background-repeat: no-repeat; }

icon-arrow_left_alt2 { background-image: url('png/arrow_left_alt2.png'); background-repeat: no-repeat; }

icon-arrow_right { background-image: url('png/arrow_right.png'); background-repeat: no-repeat; }

icon-arrow_right_alt1 { background-image: url('png/arrow_right_alt1.png'); background-repeat: no-repeat; }

icon-arrow_right_alt2 { background-image: url('png/arrow_right_alt2.png'); background-repeat: no-repeat; }

icon-arrow_up { background-image: url('png/arrow_up.png'); background-repeat: no-repeat; }

icon-arrow_up_alt1 { background-image: url('png/arrow_up_alt1.png'); background-repeat: no-repeat; }

icon-arrow_up_alt2 { background-image: url('png/arrow_up_alt2.png'); background-repeat: no-repeat; }

icon-article { background-image: url('png/article.png'); background-repeat: no-repeat; }

icon-at { background-image: url('png/at.png'); background-repeat: no-repeat; }

icon-award_fill { background-image: url('png/award_fill.png'); background-repeat: no-repeat; }

icon-award_stroke { background-image: url('png/award_stroke.png'); background-repeat: no-repeat; }

icon-bars { background-image: url('png/bars.png'); background-repeat: no-repeat; }

icon-bars_alt { background-image: url('png/bars_alt.png'); background-repeat: no-repeat; }

icon-battery_charging { background-image: url('png/battery_charging.png'); background-repeat: no-repeat; }

icon-battery_empty { background-image: url('png/battery_empty.png'); background-repeat: no-repeat; }

icon-battery_full { background-image: url('png/battery_full.png'); background-repeat: no-repeat; }

icon-battery_half { background-image: url('png/battery_half.png'); background-repeat: no-repeat; }

icon-beaker { background-image: url('png/beaker.png'); background-repeat: no-repeat; }

icon-beaker_alt { background-image: url('png/beaker_alt.png'); background-repeat: no-repeat; }

icon-bolt { background-image: url('png/bolt.png'); background-repeat: no-repeat; }

icon-book { background-image: url('png/book.png'); background-repeat: no-repeat; }

icon-book_alt { background-image: url('png/book_alt.png'); background-repeat: no-repeat; }

icon-book_alt2 { background-image: url('png/book_alt2.png'); background-repeat: no-repeat; }

icon-box { background-image: url('png/box.png'); background-repeat: no-repeat; }

icon-brush { background-image: url('png/brush.png'); background-repeat: no-repeat; }

icon-brush_alt { background-image: url('png/brush_alt.png'); background-repeat: no-repeat; }

icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

icon-calendar_alt_fill { background-image: url('png/calendar_alt_fill.png'); background-repeat: no-repeat; }

icon-calendar_alt_stroke { background-image: url('png/calendar_alt_stroke.png'); background-repeat: no-repeat; }

icon-camera { background-image: url('png/camera.png'); background-repeat: no-repeat; }

icon-cd { background-image: url('png/cd.png'); background-repeat: no-repeat; }

icon-chart { background-image: url('png/chart.png'); background-repeat: no-repeat; }

icon-chart_alt { background-image: url('png/chart_alt.png'); background-repeat: no-repeat; }

icon-chat { background-image: url('png/chat.png'); background-repeat: no-repeat; }

icon-chat_alt_fill { background-image: url('png/chat_alt_fill.png'); background-repeat: no-repeat; }

icon-chat_alt_stroke { background-image: url('png/chat_alt_stroke.png'); background-repeat: no-repeat; }

icon-check { background-image: url('png/check.png'); background-repeat: no-repeat; }

icon-check_alt { background-image: url('png/check_alt.png'); background-repeat: no-repeat; }

icon-clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

icon-cloud { background-image: url('png/cloud.png'); background-repeat: no-repeat; }

icon-cloud_download { background-image: url('png/cloud_download.png'); background-repeat: no-repeat; }

icon-cloud_upload { background-image: url('png/cloud_upload.png'); background-repeat: no-repeat; }

icon-cog { background-image: url('png/cog.png'); background-repeat: no-repeat; }

icon-comment_alt1_fill { background-image: url('png/comment_alt1_fill.png'); background-repeat: no-repeat; }

icon-comment_alt1_stroke { background-image: url('png/comment_alt1_stroke.png'); background-repeat: no-repeat; }

icon-comment_alt2_fill { background-image: url('png/comment_alt2_fill.png'); background-repeat: no-repeat; }

icon-comment_alt2_stroke { background-image: url('png/comment_alt2_stroke.png'); background-repeat: no-repeat; }

icon-comment_fill { background-image: url('png/comment_fill.png'); background-repeat: no-repeat; }

icon-comment_stroke { background-image: url('png/comment_stroke.png'); background-repeat: no-repeat; }

icon-compass { background-image: url('png/compass.png'); background-repeat: no-repeat; }

icon-cursor { background-image: url('png/cursor.png'); background-repeat: no-repeat; }

icon-curved_arrow { background-image: url('png/curved_arrow.png'); background-repeat: no-repeat; }

icon-denied { background-image: url('png/denied.png'); background-repeat: no-repeat; }

icon-dial { background-image: url('png/dial.png'); background-repeat: no-repeat; }

icon-document_alt_fill { background-image: url('png/document_alt_fill.png'); background-repeat: no-repeat; }

icon-document_alt_stroke { background-image: url('png/document_alt_stroke.png'); background-repeat: no-repeat; }

icon-document_fill { background-image: url('png/document_fill.png'); background-repeat: no-repeat; }

icon-document_stroke { background-image: url('png/document_stroke.png'); background-repeat: no-repeat; }

icon-download { background-image: url('png/download.png'); background-repeat: no-repeat; }

icon-eject { background-image: url('png/eject.png'); background-repeat: no-repeat; }

icon-equalizer { background-image: url('png/equalizer.png'); background-repeat: no-repeat; }

icon-eye { background-image: url('png/eye.png'); background-repeat: no-repeat; }

icon-eyedropper { background-image: url('png/eyedropper.png'); background-repeat: no-repeat; }

icon-first { background-image: url('png/first.png'); background-repeat: no-repeat; }

icon-folder_fill { background-image: url('png/folder_fill.png'); background-repeat: no-repeat; }

icon-folder_stroke { background-image: url('png/folder_stroke.png'); background-repeat: no-repeat; }

icon-fork { background-image: url('png/fork.png'); background-repeat: no-repeat; }

icon-fullscreen { background-image: url('png/fullscreen.png'); background-repeat: no-repeat; }

icon-fullscreen_alt { background-image: url('png/fullscreen_alt.png'); background-repeat: no-repeat; }

icon-fullscreen_exit { background-image: url('png/fullscreen_exit.png'); background-repeat: no-repeat; }

icon-fullscreen_exit_alt { background-image: url('png/fullscreen_exit_alt.png'); background-repeat: no-repeat; }

icon-hash { background-image: url('png/hash.png'); background-repeat: no-repeat; }

icon-headphones { background-image: url('png/headphones.png'); background-repeat: no-repeat; }

icon-heart_fill { background-image: url('png/heart_fill.png'); background-repeat: no-repeat; }

icon-heart_stroke { background-image: url('png/heart_stroke.png'); background-repeat: no-repeat; }

icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

icon-image { background-image: url('png/image.png'); background-repeat: no-repeat; }

icon-info { background-image: url('png/info.png'); background-repeat: no-repeat; }

icon-iphone { background-image: url('png/iphone.png'); background-repeat: no-repeat; }

icon-key_fill { background-image: url('png/key_fill.png'); background-repeat: no-repeat; }

icon-key_stroke { background-image: url('png/key_stroke.png'); background-repeat: no-repeat; }

icon-last { background-image: url('png/last.png'); background-repeat: no-repeat; }

icon-layers { background-image: url('png/layers.png'); background-repeat: no-repeat; }

icon-layers_alt { background-image: url('png/layers_alt.png'); background-repeat: no-repeat; }

icon-left_quote { background-image: url('png/left_quote.png'); background-repeat: no-repeat; }

icon-left_quote_alt { background-image: url('png/left_quote_alt.png'); background-repeat: no-repeat; }

icon-lightbulb { background-image: url('png/lightbulb.png'); background-repeat: no-repeat; }

icon-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

icon-list { background-image: url('png/list.png'); background-repeat: no-repeat; }

icon-list_nested { background-image: url('png/list_nested.png'); background-repeat: no-repeat; }

icon-lock_fill { background-image: url('png/lock_fill.png'); background-repeat: no-repeat; }

icon-lock_stroke { background-image: url('png/lock_stroke.png'); background-repeat: no-repeat; }

icon-loop { background-image: url('png/loop.png'); background-repeat: no-repeat; }

icon-loop_alt1 { background-image: url('png/loop_alt1.png'); background-repeat: no-repeat; }

icon-loop_alt2 { background-image: url('png/loop_alt2.png'); background-repeat: no-repeat; }

icon-loop_alt3 { background-image: url('png/loop_alt3.png'); background-repeat: no-repeat; }

icon-loop_alt4 { background-image: url('png/loop_alt4.png'); background-repeat: no-repeat; }

icon-magnifying_glass { background-image: url('png/magnifying_glass.png'); background-repeat: no-repeat; }

icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

icon-map_pin_alt { background-image: url('png/map_pin_alt.png'); background-repeat: no-repeat; }

icon-map_pin_fill { background-image: url('png/map_pin_fill.png'); background-repeat: no-repeat; }

icon-map_pin_stroke { background-image: url('png/map_pin_stroke.png'); background-repeat: no-repeat; }

icon-mic { background-image: url('png/mic.png'); background-repeat: no-repeat; }

icon-minus { background-image: url('png/minus.png'); background-repeat: no-repeat; }

icon-minus_alt { background-image: url('png/minus_alt.png'); background-repeat: no-repeat; }

icon-moon_fill { background-image: url('png/moon_fill.png'); background-repeat: no-repeat; }

icon-moon_stroke { background-image: url('png/moon_stroke.png'); background-repeat: no-repeat; }

icon-move { background-image: url('png/move.png'); background-repeat: no-repeat; }

icon-move_alt1 { background-image: url('png/move_alt1.png'); background-repeat: no-repeat; }

icon-move_alt2 { background-image: url('png/move_alt2.png'); background-repeat: no-repeat; }

icon-move_horizontal { background-image: url('png/move_horizontal.png'); background-repeat: no-repeat; }

icon-move_horizontal_alt1 { background-image: url('png/move_horizontal_alt1.png'); background-repeat: no-repeat; }

icon-move_horizontal_alt2 { background-image: url('png/move_horizontal_alt2.png'); background-repeat: no-repeat; }

icon-move_vertical { background-image: url('png/move_vertical.png'); background-repeat: no-repeat; }

icon-move_vertical_alt1 { background-image: url('png/move_vertical_alt1.png'); background-repeat: no-repeat; }

icon-move_vertical_alt2 { background-image: url('png/move_vertical_alt2.png'); background-repeat: no-repeat; }

icon-movie { background-image: url('png/movie.png'); background-repeat: no-repeat; }

icon-new_window { background-image: url('png/new_window.png'); background-repeat: no-repeat; }

icon-paperclip { background-image: url('png/paperclip.png'); background-repeat: no-repeat; }

icon-pause { background-image: url('png/pause.png'); background-repeat: no-repeat; }

icon-pen { background-image: url('png/pen.png'); background-repeat: no-repeat; }

icon-pen_alt2 { background-image: url('png/pen_alt2.png'); background-repeat: no-repeat; }

icon-pen_alt_fill { background-image: url('png/pen_alt_fill.png'); background-repeat: no-repeat; }

icon-pen_alt_stroke { background-image: url('png/pen_alt_stroke.png'); background-repeat: no-repeat; }

icon-pilcrow { background-image: url('png/pilcrow.png'); background-repeat: no-repeat; }

icon-pin { background-image: url('png/pin.png'); background-repeat: no-repeat; }

icon-play { background-image: url('png/play.png'); background-repeat: no-repeat; }

icon-play_alt { background-image: url('png/play_alt.png'); background-repeat: no-repeat; }

icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

icon-plus_alt { background-image: url('png/plus_alt.png'); background-repeat: no-repeat; }

icon-question_mark { background-image: url('png/question_mark.png'); background-repeat: no-repeat; }

icon-rain { background-image: url('png/rain.png'); background-repeat: no-repeat; }

icon-read_more { background-image: url('png/read_more.png'); background-repeat: no-repeat; }

icon-reload { background-image: url('png/reload.png'); background-repeat: no-repeat; }

icon-reload_alt { background-image: url('png/reload_alt.png'); background-repeat: no-repeat; }

icon-right_quote { background-image: url('png/right_quote.png'); background-repeat: no-repeat; }

icon-right_quote_alt { background-image: url('png/right_quote_alt.png'); background-repeat: no-repeat; }

icon-rss { background-image: url('png/rss.png'); background-repeat: no-repeat; }

icon-rss_alt { background-image: url('png/rss_alt.png'); background-repeat: no-repeat; }

icon-share { background-image: url('png/share.png'); background-repeat: no-repeat; }

icon-spin { background-image: url('png/spin.png'); background-repeat: no-repeat; }

icon-spin_alt { background-image: url('png/spin_alt.png'); background-repeat: no-repeat; }

icon-star { background-image: url('png/star.png'); background-repeat: no-repeat; }

icon-steering_wheel { background-image: url('png/steering_wheel.png'); background-repeat: no-repeat; }

icon-stop { background-image: url('png/stop.png'); background-repeat: no-repeat; }

icon-sun_fill { background-image: url('png/sun_fill.png'); background-repeat: no-repeat; }

icon-sun_stroke { background-image: url('png/sun_stroke.png'); background-repeat: no-repeat; }

icon-tag_fill { background-image: url('png/tag_fill.png'); background-repeat: no-repeat; }

icon-tag_stroke { background-image: url('png/tag_stroke.png'); background-repeat: no-repeat; }

icon-target { background-image: url('png/target.png'); background-repeat: no-repeat; }

icon-transfer { background-image: url('png/transfer.png'); background-repeat: no-repeat; }

icon-trash_fill { background-image: url('png/trash_fill.png'); background-repeat: no-repeat; }

icon-trash_stroke { background-image: url('png/trash_stroke.png'); background-repeat: no-repeat; }

icon-umbrella { background-image: url('png/umbrella.png'); background-repeat: no-repeat; }

icon-undo { background-image: url('png/undo.png'); background-repeat: no-repeat; }

icon-unlock_fill { background-image: url('png/unlock_fill.png'); background-repeat: no-repeat; }

icon-unlock_stroke { background-image: url('png/unlock_stroke.png'); background-repeat: no-repeat; }

icon-upload { background-image: url('png/upload.png'); background-repeat: no-repeat; }

icon-user { background-image: url('png/user.png'); background-repeat: no-repeat; }

icon-volume { background-image: url('png/volume.png'); background-repeat: no-repeat; }

icon-volume_mute { background-image: url('png/volume_mute.png'); background-repeat: no-repeat; }

icon-wrench { background-image: url('png/wrench.png'); background-repeat: no-repeat; }

icon-x { background-image: url('png/x.png'); background-repeat: no-repeat; }

icon-x_alt { background-image: url('png/x_alt.png'); background-repeat: no-repeat; }

