// Common tag styles
// =========================

a {
    color: $link-color;
    text-decoration: none;
    transition: color .2s ease;

    &:hover,
    &:focus,
    &:active {
        color: $link-color-hover;
    }
}

img {
    max-width: 100%;
}

td,
th {
    vertical-align: top;
}

label {
    display: inline-block;
}

a, area, button, input, label, textarea, [tabindex] {
    touch-action: manipulation;
}

[disabled] {
    opacity: $disabled-opacity;
}

.-loading {
    opacity: $loading-opacity;
    transition: $loading-transition;
}
