// Form elements
// =========================

$form-select-arrow-right: 16px;
$form-select-arrow-border-width: 6px;
$form-select-padding:
    $form-padding-vertical
    ($form-select-arrow-right
        + $form-select-arrow-border-width
        + $form-padding-horizontal)
    $form-padding-vertical
    $form-padding-horizontal;

// TODO: checkbox, radio, toggle

.form-field {
    & {
        @include vspace('form-field');
        position: relative;
        display: block;
    }

    > .label,
    > label {
        display: inline-block;
        margin-bottom: 3px;
    }

    > .message {
        display: none;
    }

    > .message > span {
        position: absolute;
        top: auto;
        right: 0;
        padding: 1px 5px;
        color: white;
        background-color: $error-color;
        font-size: $font-size-small;

        @include respond-to(small) {
            position: relative;
            right: auto;
        }
    }

    &.fit {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        > select,
        > textarea,
        > input:not([type="checkbox"]):not([type="radio"]) {
            flex-grow: 1;
        }

        > label {
            align-self: flex-start;
        }

        > .message {
            position: relative;
        }

        > .message > span {
            position: absolute;
        }
    }

    &.-error {
        > .message {
            display: block;
            color: #fff;
        }
    }
}

select,
textarea,
input:not([type="checkbox"]):not([type="radio"]) {
    & {
        @include font-type('form-element');
        position: relative;
        width: 100%;
        display: block;
        margin: 0;
        cursor: pointer;
        color: $form-color;
        background-color: $form-background;
        border-radius: $form-radius;
        border: $form-border;
        padding: $form-padding-vertical $form-padding-horizontal;
        transition: background-color .1s ease-in, box-shadow .1s ease-in;
    }

    .-error &,
    &.-error {
        border-bottom-color: $error-color;
        border-bottom-width: $form-error-line-height;
        margin-bottom: -$form-error-line-height / 2;
    }

    &:focus {
        background-color: $form-background-focus;
        box-shadow: $form-box-shadow-focus;
    }
}

.select {
    & {
        width: 100%;
        position: relative;
        display: inline-block;
        color: $form-color;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: $form-select-arrow-right;
        display: inline-block;
        content: '';
        pointer-events: none;
        transform: translateY(-$form-select-arrow-border-width / 2);

        border-style: solid;
        border-width: $form-select-arrow-border-width
                      $form-select-arrow-border-width
                      $form-select-arrow-border-width;

        border-color: currentColor transparent transparent transparent;
    }

    > select {
        padding: $form-select-padding;
        appearance: none;

        @include firefox() {
            // hide arrow
            text-indent: 0.01px;
            text-overflow: '';
            padding-right: 1rem;

            // <option> elements inherit styles from <select>, so reset them.
            option {
                background-color: #fff;
            }
        }

        // hide arrow ie 10 and above
        &::-ms-expand {
          display: none;
        }
    }
}
