// Icons
// =========================

.grouped-svg .icon {
    &:not(#{$icons-excluded}) * {
        fill: currentColor;
    }
}

.icon-svg {
    transition: color .2s ease;
}

.icon-box {
    @include square($icons-size);
    display: inline-block;
    vertical-align: middle;

    > .icon-svg {}

    &.-responsive {
        display: block;
        position: relative;
        width: 100%;
        height: 0;
    }
}
