// Icons
// =========================

.icon-svg {
    fill: currentColor;
}

.icon-box {
    @include square($icons-size);
    display: inline-flex;
    align-self: center;
    position: relative;

    > .icon-svg {
        @include square($icons-size);
        position: absolute;
        bottom: $icons-baseline-fix;
    }

    &.-responsive {
        display: block;
        width: 100%;
        height: 0px;

        > .icon-svg {
            top: 0;
            left: 0;
            bottom: auto;
        }
    }
}
