// ICONS
// ======

.icon-svg {
    transition: color .2s ease;
}

.icon {
    &:not(#{$icons-excluded}) * {
        fill: currentColor;
    }
}

.icon-box {
    @include square($icons-size);
    display: inline-block;
    vertical-align: middle;

    > .icon {}
}
