* {
    background-position: center center;
    background-size: cover;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
}

html {
    color: $text-color;
    line-height: $line-height;
    font-family: $sans-font-family;
    background: $body-background;
    font-size: 16px;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

sub,
sup,
small {
    font-size: $font-size-small;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: $highlight-color;
    text-shadow: none;
}

::selection {
    background: $highlight-color;
    text-shadow: none;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border:0;
}

// hide ugly focusring on firefox
:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

:invalid {
    box-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

td,
th {
    vertical-align: top;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
}

/*
 * Prevent ugly yellow background in Chrome on when input gets autofilled
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; // 1
}


::placeholder {
    opacity: 1;
    color: $placeholder-color;
}
