# Numerous always-ignore extensions
*.diff
*.err
*.log
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache

# Folders to ignore
.idea
node_modules
.sass-cache

# Ignore the distribution folder
/dist
.tmp

frontend/_public/generated
/public
/_data

backend/vendor

# The .env.local file must be copied and updated to match your individual requirements
.env
