# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
node_modules
.sass-cache

# Laravel stuff
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php

# Ignore all the vendor because they will be downloaded using bower
public/assets/vendor

# ignore the distribution folder
dist

# the style.css must be generated using 'compass compile'
public/assets/css/style.css