/**
 *
 * Other grid helper classes
 *
 */

[class*="g-"],
[class^="g-"] {
	float:left;
	display:inline;
	@include box-sizing(border-box);
	// used to debug the grid
	.grid-debug & {
		background: rgba(0,100,0,0.2);
		margin-top: 10px;
		height:150px;
		text-align: center;
		@include respond-to(tablet) {
			background: rgba(100,0,100,0.2);
		}
		@include respond-to(mobile) {
			background: rgba(0,100,100,0.2);
		}
		&:after {
			font-size:0.7em;

			content:  'grid ('attr(class)")" ;
			@include respond-to(tablet) {
				content: "tablet grid" ;
			}
			@include respond-to(mobile) {
				content: "mobile grid";
			}
		}

	}
}

.row {
	width: 100%;
	float:left;
	clear:both;
	.grid-debug & {
		padding-bottom:10px;
		border-bottom:1px solid rgba(0,0,0,0.4);
	}
}

.full-width {
	width:100%;
	@include box-sizing(border-box);
}
.noMarginLR {
	margin-left:0;
	margin-right:0;
}

.noMarginL {
	margin-left:0;
}

.noMarginR {
	margin-right:0;
}
.full-width-tablet {
	@include respond-to('tablet') {
		width: 100% !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}
.full-width-mobile {
	@include respond-to('mobile') {
		width: 100% !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}
