//
// Variables
// --------------------------------------------------


// Colors
// -------------------------


// Scaffolding
// -------------------------
$body-background: white;
$text-color: black;
$highlight-color: #b3d4fc;
$placeholder-color: rgba($text-color, 0.7);

// Links
// -------------------------
$link-color: #08c;
$link-color-hover: darken($link-color, 15%);

// Typography
// -------------------------
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, 'Times New Roman', Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;

// Base font size and line-height
$font-size: 15px;
$font-size-small: 80%;
$line-height: 1.5;

// Icons
$icons-size: 22px;


//Responsive breakpoints
// -------------------------

// Needed to generate the grid and the respond-to calls
$breakpoints:(
  landscape: 'only screen and (orientation:landscape)',
  portrait: 'only screen and (orientation:portrait)',
  mobile: 'only screen and (max-width: #{$break-small})',
  exclude-mobile: 'only screen and (min-width: #{$break-small + 1})',
  tablet: 'only screen and (min-width: #{$break-small + 1}) and (max-width: #{$break-large})',
  desktop: 'only screen and (min-width: #{$break-large + 1})',
  retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)',
);

$layers: (
  content: 0
);

// Grid
// -------------------------

// Default grid values
$default-column-width: 60px;
$default-columns-amount: 12;

$default-gutter-width: 46px;
$tablet-gutter-width: 3%;
$mobile-gutter-width: 6%;

$default-vertical-space: 0;
$tablet-vertical-space: 0;
$mobile-vertical-space: 0;

$container-max-width: $break-large - ($default-gutter-width * 2) - ($default-vertical-space * 2);
$container-max-width-tablet: calc(100% - #{$tablet-gutter-width * 2} - #{$tablet-vertical-space * 2});
$container-max-width-mobile: calc(100% - #{$mobile-gutter-width * 2} - #{$mobile-vertical-space * 2});
