// Variables
// =========================

// Colors
// -------------------------
$primary-color: #1baebb;
$secondary-color: #fcd234;

// Scaffolding
// -------------------------
$body-background: #eee;
$text-color: #333;
$success-color: #69db7c;
$error-color: #ff6b6b;
$highlight-color: #b3d4fc;
$placeholder-color: rgba($text-color, 0.65);
$loading-opacity: 0.7;
$loading-transition: opacity .15s ease-in;
$disabled-opacity: 0.7;

// Links
// -------------------------
$link-color: #08c;
$link-color-hover: darken($link-color, 15%);

// Typography
// -------------------------
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, 'Times New Roman', Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;

$default-font: 'sans';
$default-font-type: 'default';
$default-font-weight: 'regular';

// Base font size and line-height
$font-size: 18px;
$font-size-small: 80%;
$line-height: 1.5;

// Icons sizes (use em to resize according to font-size)
// -------------------------
$icons-width: 1.125em;
$icons-height: 1em;
$icons-baseline-fix: -0.125em;

// Layer settings
// -------------------------
$layers: (
  content: 0
);

// Form elements
// ------------------------
$form-color: $text-color;
$form-line-height: 1.4;
$form-border: 1px solid #c7c5c1;
$form-border-radius: 0;
$form-background: #fff;
$form-padding-vertical: 10px;
$form-padding-horizontal: 12px;
$form-error-line-height: 2px;

// focus styles
$form-background-focus: #f8f8f8;
$form-box-shadow-focus: 0 0 0 .075rem rgba(0,0,0,0.05);

// large version
$form-padding-vertical-large: 14px;
$form-padding-horizontal-large: 16px;
$form-line-height-large: $form-line-height;

// small version
$form-padding-vertical-small: 8px;
$form-padding-horizontal-small: 10px;
$form-line-height-small: $form-line-height;

// label
$form-label-margin-bottom: 5px;

// buttons
$form-button-padding-horizontal: $form-padding-horizontal * 1.4;
$form-button-padding-horizontal-large: $form-padding-horizontal-large * 1.4;
$form-button-padding-horizontal-small: $form-padding-horizontal-small * 1.4;

// checkbox and ratio control
$form-control-size: 1.25rem;
$form-control-background-checked: $primary-color;
$form-control-background-active: rgba($primary-color, 0.5);

// Vertical rhytm settings
// ------------------------

$vspaces-attribute-default: 'margin-bottom';

$vspaces: (
    'base': (
        'default': 25px,
        'breakpoints': (
            'large': 22px,
            'medium': 20px,
            'small': 18px,
        ),
    ),
    'form-field': (
        'default': 22px,
        'breakpoints': (
            'large': 22px,
            'medium': 20px,
            'small': 18px,
        ),
    ),
);

// Font management
// -------------------------
$fonts: (
    'sans': (
        'family': $sans-font-family,
        'weights': (
            'regular': 400,
            'semi-bold': 600,
            'bold': 700,
        ),
    ),
);

$font-types: (
    $default-font-type: (
        font-size: $font-size,
        line-height: $line-height,
        'config': (
            'font': $default-font,
            'weight': $default-font-weight,
        ),
        'media': (
            'large': (
                font-size: 17px,
            ),
            'medium': (
                font-size: 16px,
            ),
            'small': (
                font-size: 15px,
            ),
        ),
    ),
    'form-element': (
        font-size: inherit,
        line-height: $form-line-height,
        'config': (
            'font': $default-font,
            'weight': $default-font-weight,
        ),
    )
);

// Responsive breakpoints
// -------------------------
$breakpoints:(
    small: 'only screen and (max-width: #{$break-small})',
    medium: 'only screen and (max-width: #{$break-medium})',
    large: 'only screen and (max-width: #{$break-large})',
    landscape: 'only screen and (orientation:landscape)',
    portrait: 'only screen and (orientation:portrait)',
    retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)',
);

// Grid
// -------------------------
$columns-amount: 12;

$gutter-width: 46px;
$gutter-width-large: 40px;
$gutter-width-medium: 30px;
$gutter-width-small: 20px;

$container-max-width: 1400px;

$vertical-space: 0px;
$vertical-space-large: 0px;
$vertical-space-medium: 0px;
$vertical-space-small: 0px;

$container-width: calc(100% - #{$gutter-width * 2} - #{$vertical-space * 2});
$container-width-large: calc(100% - #{$gutter-width-large * 2} - #{$vertical-space-large * 2});
$container-width-medium: calc(100% - #{$gutter-width-medium * 2} - #{$vertical-space-medium * 2});
$container-width-small: calc(100% - #{$gutter-width-small * 2} - #{$vertical-space-small * 2});
