//
// Variables
// --------------------------------------------------


// Colors
// -------------------------


// Scaffolding
// -------------------------
$body-background: white;
$text-color: black;

// Links
// -------------------------
$link-color: #08c;
$link-color-hover: darken($link-color, 15%);

// Typography
// -------------------------
$sans-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, 'Times New Roman', Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
$font-size: 1em;

// Icons
$icons-size: 22px;

//Responsive breakpoints
// -------------------------

// Needed to generate the grid and the respond-to calls
$breakpoints:(
  landscape: 'only screen and (orientation:landscape)',
  portrait: 'only screen and (orientation:portrait)',
  mobile: 'only screen and (max-width: #{$break-small})',
  exclude-mobile: 'only screen and (min-width: #{$break-small + 1})',
  tablet: 'only screen and (min-width: #{$break-small + 1}) and (max-width: #{$break-large})',
  desktop: 'only screen and (min-width: #{$break-large + 1})',
  retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)',
);

$layers: (
  content: 0
);

// Grid
// -------------------------
$container-max-width: calc(#{$break-large} - 20px);
$mobile-container-max-width: 88%;

// Default grid values
$default-column-width: 60px;
$default-columns-amount: 12;

$default-gutter-width: 46px;
$tablet-gutter-width: 3%;
$mobile-gutter-width: 6%;

// Images paths
// -------------------------
$image-path: '../img/';
$font-path: '../fonts/';

