//
// Variables
// --------------------------------------------------

// Grid Size
// Default grid values
$default-column-width:60px;
$default-gutter-width:20px;
$default-columns-amount: 12;

// Colors
// -------------------------


// Scaffolding
// -------------------------
$body-background: white;
$text-color: black;

// Links
// -------------------------
$link-color: #0088cc;
$link-color-hover: darken($link-color, 15%);

// Typography
// -------------------------
$sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, "Times New Roman", Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-size: 1em;

// Icons
$icons-size: 30px;

//Responsive breakpoints
// -------------------------

// these values are strings that we need to convert to cast to numbers
$break-small: to-number(get_shared_var('break-small'));
$break-medium: to-number(get_shared_var('break-medium'));
$break-large: to-number(get_shared_var('break-large'));


// Images paths
// -------------------------
$image-path: "../img/";

