/**
 *
 * Custom checkbox
 *
 *	<div class="GICustomCheckbox">
 *		<input type="checkbox" value="None" id="foo" name="foo" checked="">
 *		<label for="foo"></label>
 *	</div>
 *
 */
.GICustomCheckbox {
   position: relative;
    margin: 10px 0;
    width: 100% !important;
    // this part has been removed because we use already the same checkboxes on the website
    input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
            border-color:black;
            @include opacity(100);
            @include size(5px, 14px);
        }
    }
    label {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        border: 1px solid black;
        @include square(23px);
        &:after {
            content: '';
            background: red;
            position: absolute;
            background: transparent;
            top: 5px;
            left: 4px;
            border: 3px solid #ccc;
            border-top: none;
            border-right: none;
            @include opacity(0);
            @include size(3px, 0px);
            @include rotate(-45deg);
            @include transition(0.1s);
        }
        &:hover::after {
            @include size(6px, 14px);
            @include opacity(30);
            @include transition(0.1s);
        }
        span {
            margin-left: 35px;
            line-height: 24px;
            white-space: nowrap;
        }
    }
    &.red label:after {
        border-color: black;
    }
}