.GIReadmore {
	height: 400px;
	overflow: hidden;
	position: relative;
	.GIReadmore_gradient {
		height: 280px;
		width: 100%;
		background: transparent url(#{imagePath}images/gradient.png) left bottom repeat-x;
		position: absolute;
		bottom: 0px;
		left: 0px;
		.GIReadmore_arrow {
			position: absolute;
			width: 2em;
			height: 2em;
			left: 50%;
			display: inline-block;
			overflow: hidden;
			text-indent: -999999px;
			bottom: 10%;
			background: transparent url(#{imagePath}arrow-down.png) center center no-repeat;
			margin-left: -1em;
			cursor: pointer;
			@include animation(jump 1s infinite);
		}
	}
}

@include keyframes(jump) {
	0% {
		bottom:10%
	}
	50% {
		bottom:12%
	}
	100% {
		bottom:10%
	}
}