@charset "utf-8";

@import
  '../vendor/bower/gridle/sass/gridle/gridle',
	'../shared-variables.json',
	'utils/variables';

// check the documentation http://gridle.org/documentation

// setting up the grid
@include gridle_setup((
  context: $default-columns-amount,
  gutter-width: $default-gutter-width,
));

@include gridle_register_state (tablet, (
  query: map-get($breakpoints, tablet),

  gutter-width: 10%,
  max-width: $break-medium,
));

// make the use of media queries a piece of cake
@include gridle_register_state (mobile, (
  query: map-get($breakpoints, mobile),
  gutter-width: 10%,
  max-width: $break-small,
));

@include gridle_generate_classes(all, -debug);

/**
 * Main page container
 */

.container {
  max-width: $break-large;
  margin: 0 auto;
  @include breakpoint($break-large) {
    width: 100%;
  }
}