# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
node_modules
.sass-cache

# Ignore all the vendor because they will be downloaded using bower
public/assets/vendor/bower

# ignore the distribution folder
dist
.tmp

# the style.css must be generated using 'compass compile'
public/assets/css/style.css

# craft stuff
public/files/*
crafter/vendor
crafter/composer.phar

style.css

.deployment/data/*.zip
.deployment/data/*.tar.gz
.deployment/data/*.sql
.deployment/database/backup/*

.env
