%svg-common {
	background: url(icons-sprite-4a06e8c7.svg) no-repeat;
}

.icon-add-entry {
	@extend %svg-common;
	background-position: 93.85964912280701% 30.17902813299233%;
}

.icon-add-entry-dims {
	width: 22px;
	height: 22px;
}

.icon-arrow-down-dark {
	@extend %svg-common;
	background-position: 17.15686274509804% 99.7411078717201%;
}

.icon-arrow-down-dark-dims {
	width: 70px;
	height: 70px;
}

.icon-arrow-down-light {
	@extend %svg-common;
	background-position: 0 99.7411078717201%;
}

.icon-arrow-down-light-dims {
	width: 70px;
	height: 70px;
}

.icon-arrow-left-dark {
	@extend %svg-common;
	background-position: 34.31372549019608% 99.7411078717201%;
}

.icon-arrow-left-dark-dims {
	width: 70px;
	height: 70px;
}

.icon-arrow-left-light {
	@extend %svg-common;
	background-position: 51.470588235294116% 99.7411078717201%;
}

.icon-arrow-left-light-dims {
	width: 70px;
	height: 70px;
}

.icon-arrow-right-dark {
	@extend %svg-common;
	background-position: 87.74509803921569% 0;
}

.icon-arrow-right-dark-dims {
	width: 70px;
	height: 70px;
}

.icon-arrow-right-light {
	@extend %svg-common;
	background-position: 87.74509803921569% 20.408163265306122%;
}

.icon-arrow-right-light-dims {
	width: 70px;
	height: 70px;
}

.icon-arrow-up-dark {
	@extend %svg-common;
	background-position: 87.74509803921569% 40.816326530612244%;
}

.icon-arrow-up-dark-dims {
	width: 70px;
	height: 70px;
}

.icon-arrow-up-light {
	@extend %svg-common;
	background-position: 87.74509803921569% 61.224489795918366%;
}

.icon-arrow-up-light-dims {
	width: 70px;
	height: 70px;
}

.icon-best {
	@extend %svg-common;
	background-position: 95.96412556053812% 22.57217847769029%;
}

.icon-best-dims {
	width: 32px;
	height: 32px;
}

.icon-close {
	@extend %svg-common;
	background-position: 96.83257918552036% 13.26259946949602%;
}

.icon-close-dims {
	width: 36px;
	height: 36px;
}

.icon-direct-link {
	@extend %svg-common;
	background-position: 77.10280373831776% 94.2457300275482%;
}

.icon-direct-link-dims {
	width: 50px;
	height: 50px;
}

.icon-facebook {
	@extend %svg-common;
	background-position: 65.42056074766356% 94.2457300275482%;
}

.icon-facebook-dims {
	width: 50px;
	height: 50px;
}

.icon-google-plus {
	@extend %svg-common;
	background-position: 83.64485981308411% 77.13498622589532%;
}

.icon-google-plus-dims {
	width: 50px;
	height: 50px;
}

.icon-location {
	@extend %svg-common;
	background-position: 0 72.3763838501136%;
}

.icon-location-dims {
	width: 246.045px;
	height: 156.379px;
}

.icon-logo {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-logo-dims {
	width: 358px;
	height: 185.733px;
}

.icon-play {
	@extend %svg-common;
	background-position: 60.953978253814505% 76.7962865081779%;
}

.icon-play-dims {
	width: 74.343px;
	height: 74.343px;
}

.icon-twitter {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-twitter-dims {
	width: 50px;
	height: 50px;
}

.icon-video-close {
	@extend %svg-common;
	background-position: 60.953978253814505% 54.84398668859643%;
}

.icon-video-close-dims {
	width: 74.343px;
	height: 74.343px;
}

