/*---
title: Default form elements
section: Base Form CSS
---

Small version of text input:
```example:html
<input type="text" class="-small">
```
*/

.button,
select,
textarea,
input:not([type="checkbox"]):not([type="radio"]) {
    & {
        @include font-type('form-element');
        position: relative;
        width: 100%;
        display: block;
        margin: 0;
        cursor: pointer;
        color: $form-color;
        background-color: $form-background;
        border-radius: $form-border-radius;
        border: $form-border;
        padding: $form-padding-vertical $form-padding-horizontal;
        transition: background-color .1s ease-in, box-shadow .1s ease-in;
    }

    &.-small {
        line-height: $form-line-height-small;
        padding: $form-padding-vertical-small $form-padding-horizontal-small;
    }

    &.-large {
        line-height: $form-line-height-large;
        padding: $form-padding-vertical-large $form-padding-horizontal-large;
    }

    .-error &,
    &.-error {
        border-bottom-color: $error-color;
        border-bottom-width: $form-error-line-height;
        margin-bottom: -$form-error-line-height / 2;
    }

    &:focus {
        background-color: $form-background-focus;
        box-shadow: $form-box-shadow-focus;
    }
}
