/*---
title: Feedback
section: Base Form CSS
---

Form feedback wrapper.
*/

.form-feedback {
    padding: $form-feedback-padding-vertical $form-feedback-padding-horizontal;

    &.-success {
      background-color: lighten($success-color, 10%);
      color: darken($success-color, 30%);
    }

    &.-error {
      background-color: lighten($error-color, 10%);
      color: darken($error-color, 30%);
    }

    &.-warn {
      background-color: lighten($warn-color, 10%);
      color: darken($warn-color, 30%);
    }
}
