/*---
title: Form field
section: Base Form CSS
---

Form field with error message:
```example:html
<div class="form-field -error">
    <label for="test">Label</label>
    <input type="text" name="test" id="test" placeholder="Test">
    <div class="message"><span>Fehler</span></div>
</div>
```
*/

.form-field {
    & {
        @include vspace('form-field');
        position: relative;
        display: block;
    }

    > .label,
    > label {
        display: inline-block;
        margin-bottom: 3px;
    }

    > .message {
        display: none;
    }

    > .message > span {
        position: absolute;
        top: auto;
        right: 0;
        padding: 1px 5px;
        vertical-align: top;
        color: white;
        background-color: $error-color;
        font-size: $font-size-small;

        @include respond-to(small) {
            display: inline-block;
            position: relative;
            right: auto;
        }
    }

    &.fit {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        > select,
        > textarea,
        > input:not([type="checkbox"]):not([type="radio"]) {
            flex-grow: 1;
        }

        > label {
            align-self: flex-start;
        }

        > .message {
            position: relative;
        }

        > .message > span {
            position: absolute;
        }
    }

    &.-error {
        > .message {
            display: block;
            color: #fff;
        }
    }
}
