/*---
title: Progress bar.
section: Base Form CSS
---

Form progress bar.
*/

.form-progress-bar {
    position: relative;
    height: $form-progress-bar-height;
    width: 100%;
    background: $form-progress-bar-background;

    > .loaded {
        width: 0%;
        height: 100%;
        background: $form-progress-bar-background-loaded;
        transition: width .1s ease-in;
    }

    > .percentage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $form-progress-bar-color;
    }
}
