/*---
title: Select
section: Base Form CSS
---

```example:html
<div class="select">
    <select name="test" id="select">
        <option value="Test">Test</option>
        <option value="Test">Foo</option>
    </select>
</div>
```
*/

$form-select-arrow-right: 16px;
$form-select-arrow-border-width: 6px;
$form-select-padding:
    $form-padding-vertical
    ($form-select-arrow-right
        + $form-select-arrow-border-width
        + $form-padding-horizontal)
    $form-padding-vertical
    $form-padding-horizontal;

.select {
    & {
        width: 100%;
        position: relative;
        display: inline-block;
        color: $form-color;
    }

    &::after {
        position: absolute;
        top: 50%;
        right: $form-select-arrow-right;
        display: inline-block;
        content: '';
        pointer-events: none;
        transform: translateY(-$form-select-arrow-border-width / 2);

        border-style: solid;
        border-width: $form-select-arrow-border-width
                      $form-select-arrow-border-width
                      $form-select-arrow-border-width;

        border-color: currentColor transparent transparent transparent;
    }

    > select {
        padding: $form-select-padding;
        appearance: none;

        // <option> elements inherit styles from <select>, so reset them.
        option {
            background-color: #fff;
        }

        // hide arrow ie 10 and above
        &::-ms-expand {
          display: none;
        }
    }
}
