#staging
AuthType Basic
AuthName "Password Protected Area"
# File for goldinter01
#AuthUserFile /home/www-goldinteractive/.htpasswd
# File for cloudone
#AuthUserFile /var/www/vhosts/DOMAIN.ch/staging.DOMAIN.ch/current/.htpasswd
Require valid-user
