RewriteEngine On

#staging
AuthType Basic
AuthName "Password Protected Area"
# File for goldinter01
#AuthUserFile /home/www-goldinteractive/.htpasswd
# File for cloudone
#AuthUserFile /var/www/vhosts/DOMAIN.ch/staging.DOMAIN.ch/current/.htpasswd
Require valid-user

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

#- Blitz cache rewrite
#RewriteCond %{REQUEST_FILENAME} !\.(css|eot|gif|ico|jpe?g|otf|png|svg|ttf|webp|woff2?)$ [NC]
#RewriteCond %{DOCUMENT_ROOT}/cache/blitz/%{HTTP_HOST}/%{REQUEST_URI}/%{QUERY_STRING}/index.html -s
#RewriteCond %{REQUEST_METHOD} GET
#RewriteCond %{QUERY_STRING} !token= [NC]
#RewriteCond %{QUERY_STRING} !%
#RewriteRule .* /cache/blitz/%{HTTP_HOST}/%{REQUEST_URI}/%{QUERY_STRING}/index.html [L]

# Handle Front Controller...
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^de/(.+)$ /de/index.php [NC,L]
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^en/(.+)$ /en/index.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /index.php [L]
